:root{
    --primary:#00c0f6;
    --text:#363636;
    --light:#888888;
}


section.my-skills > header{
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
    padding: 24px;
    color: var(--primary);
}

section .my-skill{
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    max-width: 1024px;
    margin-inline:auto;
    grid-template-columns: 70% 30%;
}

@media only screen and (max-width: 600px) {
    .my-skill{
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media only screen and (max-width: 600px) {
    .my-skill{
        grid-template-columns: 1fr;
    }   
}


.my-skill .my-set{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    cursor: pointer;
}

.my-skill .my-set:hover{
    box-shadow: 0px 12px 16px ;
    color: #000;
    background: #36363624;
}

.my-set span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 48px;
    background-color: var(--primary);
    color: white;
    border-radius: 35%;
    margin-inline: auto;

}

@media only screen and (min-width:600px){
    .my-skill{
        grid-template-columns: repeat(2,1fr);
    }
    
}
.my-set > header{
    padding-block: 24px;
    font-size: 24px;
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
}

.my-set .my-list{
    padding-block: 8px;
    display: grid;

    grid-template-columns: 1fr 28px;
    color: var(--light);
    text-transform: uppercase;
    
}

.my-set:hover .my-list{
    color: var(--text);
}

.my-groups{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3em;
    justify-content: center;
    padding: 0 2em;
}